.todo-list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 20rem;
}

.todo-list >  header {
 display: flex;
 justify-content: space-between;
 gap: 1rem;
 margin-bottom: 1rem;
}

.todo-list > header > input {
    min-height: .5rem;
    border-radius: 5px;
    width: 100%;
}


.EmptyTask {
    color: aliceblue;
    font-size: .5rem;
    width: 100%;
    text-align: center;
}